.titled-pane > .title{
    -fx-color: #C47C39
}
.titled-pane:collapsed > .title {
    > .arrow-button .arrow     -fx-rotate: -90;
    -fx-color: #FFA14A;
}

.titled-pane > .title{
    -fx-font-size: 20;
}


.box-rules{
    -fx-background-color: #FFA14A;
}
.textrules{
    -fx-background-color: #FFA14A;
    -fx-border-color: C47C39;
    -fx-border-width: 2;
    -fx-font-size: 20;
}
.textrules:hover{
    -fx-background-color: #C47C39;
}
.textrules:focused{
    -fx-background-color: #C47C39;
}