.background-pane{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.item-name{
    -fx-font-size: 25px;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.item-price{
    -fx-font-size: 16px;
    -fx-font-family: "Roboto";
    -fx-font-weight: lighter;
}

.px20-text{
    -fx-font-size: 20px;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.text-field-empty{
    -fx-background-color: #FFFFFF;
    -fx-border-width: 3px;
    -fx-border-color: #EDEDED;
    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
    -fx-font-size: 23px;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.round-button{
    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;


}

.gray-button{
    -fx-background-color: #C4C4C4;
    -fx-font-size: 20px;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: #FFFFFF;
}

.orange-button{
    -fx-background-color: #FFA14A;
    -fx-font-size: 20px;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: #FFFFFF;
}

.root { -fx-background-color: transparent; }

.button-text{
    -fx-font-size: 40px;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: #FFFFFF;
}