# Default ignored files
/shelf/
/workspace.xml
iMat.iml
# Datasource local storage ignored files
/../../../../../../:\Users\lovel\IdeaProjects\iMat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/libraries/
